:root {
  --main-color: var(--hsl-main-color);
  --hover-color: var(--hsl-hover-color);

  --background-shading: var(--hsl-background-shading);
  --card-shading: var(--hsl-card-shading);
  --popout-shading: var(--hsl-popout-shading);
  --modal-shading: var(--hsl-modal-shading);
  --input-shading: var(--hsl-input-shading);

  --normal-text: var(--hsl-text-default);
  --muted-text: var(--hsl-text-muted);
}

.container_d1c246{background:var(--hsl-card-shading)}.container_d1c246 .title__7e4b8{color:var(--hsl-text-default)}.container_d1c246 .subtitle__7e4b8{color:var(--hsl-text-muted)}.container_d1c246 .footer__7e4b8{background:var(--hsl-background-shading)}.input__0f084{background:var(--hsl-input-shading)}.input__0f084:focus{border-color:var(--hsl-main-color)}.button__201d5.colorBrand__201d5{background-color:var(--hsl-main-color);color:var(--white)}.button__201d5.colorBrand__201d5:hover{background-color:var(--hsl-hover-color)}.button__201d5.colorGreen__201d5{background-color:var(--hsl-success-color)}.button__201d5.colorRed__201d5{background-color:var(--hsl-danger-color)}
